# Store Item Demand Forecasting Challenge
>https://www.kaggle.com/c/demand-forecasting-kernels-only/overview


Best Score <br>
Experiment 6: Ensembled model (Improved Prophet + Tuned Catboost + Rounding) <br>
Rank 98/459 on private leaderboard (top 21%) <br>
Rank 119/459 on public leaderboard (top 25%) <br>
<br>
![Screenshot 2022-02-14 at 2.12.50 PM.png]()

## Imports

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error, max_error, median_absolute_error, r2_score, explained_variance_score

In [2]:
# train.csv
train_df = pd.read_csv("train.csv")
train_df.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [3]:
# test.csv
test_df = pd.read_csv("test.csv")
test_df.head()

   id        date  store  item
0   0  2018-01-01      1     1
1   1  2018-01-02      1     1
2   2  2018-01-03      1     1
3   3  2018-01-04      1     1
4   4  2018-01-05      1     1

In [4]:
# sample_submission.csv
sample_df = pd.read_csv("sample_submission.csv")
sample_df.head()

   id  sales
0   0     52
1   1     52
2   2     52
3   3     52
4   4     52

Exploration

## Data Preparation

In [5]:
from datetime import datetime

def convertYMD(df):
    df['date'] = pd.to_datetime(df['date'])
    df['year'] = [i.year for i in df['date']]
    df['month'] = [i.month for i in df['date']]
    df['day'] = [i.dayofweek for i in df['date']]

In [6]:
convertYMD(train_df)
train_df.drop('date', axis=1, inplace=True)
train_df.head()

   store  item  sales  year  month  day
0      1     1     13  2013      1    1
1      1     1     11  2013      1    2
2      1     1     14  2013      1    3
3      1     1     13  2013      1    4
4      1     1     10  2013      1    5

In [7]:
convertYMD(test_df)
test_df.drop('date', axis=1, inplace=True)
test_df.head()

   id  store  item  year  month  day
0   0      1     1  2018      1    0
1   1      1     1  2018      1    1
2   2      1     1  2018      1    2
3   3      1     1  2018      1    3
4   4      1     1  2018      1    4

In [8]:
# drop id column before predicting
test_df.drop('id', axis=1, inplace=True)

# Baseline ML Models

In [9]:
train_df = pd.read_csv("train.csv")
train_df

              date  store  item  sales
0       2013-01-01      1     1     13
1       2013-01-02      1     1     11
2       2013-01-03      1     1     14
3       2013-01-04      1     1     13
4       2013-01-05      1     1     10
...            ...    ...   ...    ...
912995  2017-12-27     10    50     63
912996  2017-12-28     10    50     59
912997  2017-12-29     10    50     74
912998  2017-12-30     10    50     62
912999  2017-12-31     10    50     82

[913000 rows x 4 columns]

In [10]:
# split train_df into 2 validation and train set
val = train_df.loc[(train_df["date"] >= "2017-01-01") & (train_df["date"] < "2017-04-01"), :] # first 3 months of 2017
train = pd.concat([train_df, val, val]).drop_duplicates(keep=False) # the rest of the months

x-labels

In [11]:
convertYMD(train)
train.drop('date', axis=1, inplace=True)
train

        store  item  sales  year  month  day
0           1     1     13  2013      1    1
1           1     1     11  2013      1    2
2           1     1     14  2013      1    3
3           1     1     13  2013      1    4
4           1     1     10  2013      1    5
...       ...   ...    ...   ...    ...  ...
912995     10    50     63  2017     12    2
912996     10    50     59  2017     12    3
912997     10    50     74  2017     12    4
912998     10    50     62  2017     12    5
912999     10    50     82  2017     12    6

[868000 rows x 6 columns]

In [12]:
convertYMD(val)
val.drop('date', axis=1, inplace=True)
val

C:\Users\nct\AppData\Local\Temp\ipykernel_15756\3823085543.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'])
C:\Users\nct\AppData\Local\Temp\ipykernel_15756\3823085543.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = [i.year for i in df['date']]
C:\Users\nct\AppData\Local\Temp\ipykernel_15756\3823085543.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = [i.month for i in df['date']]
C:\Users\nct\AppData\Local\Temp\ipykernel_15756\3823085543.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day'] = [i.dayofweek for i in df['date']]
C:\Users\nct\AppData\Local\Temp\ipykernel_15756\503842310.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val.drop('date', axis=1, inplace=True)

        store  item  sales  year  month  day
1461        1     1     19  2017      1    6
1462        1     1     15  2017      1    0
1463        1     1     10  2017      1    1
1464        1     1     16  2017      1    2
1465        1     1     14  2017      1    3
...       ...   ...    ...   ...    ...  ...
912720     10    50     66  2017      3    0
912721     10    50     60  2017      3    1
912722     10    50     73  2017      3    2
912723     10    50     68  2017      3    3
912724     10    50     69  2017      3    4

[45000 rows x 6 columns]

y-labels

In [13]:
sales_val = val.pop('sales')
sales_val

1461      19
1462      15
1463      10
1464      16
1465      14
          ..
912720    66
912721    60
912722    73
912723    68
912724    69
Name: sales, Length: 45000, dtype: int64

In [14]:
sales_train = train.pop('sales')
sales_train

0         13
1         11
2         14
3         13
4         10
          ..
912995    63
912996    59
912997    74
912998    62
912999    82
Name: sales, Length: 868000, dtype: int64

In [15]:
test_df

       store  item  year  month  day
0          1     1  2018      1    0
1          1     1  2018      1    1
2          1     1  2018      1    2
3          1     1  2018      1    3
4          1     1  2018      1    4
...      ...   ...   ...    ...  ...
44995     10    50  2018      3    1
44996     10    50  2018      3    2
44997     10    50  2018      3    3
44998     10    50  2018      3    4
44999     10    50  2018      3    5

[45000 rows x 5 columns]

In [16]:
print(train.shape, val.shape, test_df.shape)

(868000, 5) (45000, 5) (45000, 5)

In [17]:
def regression_report(y_true, y_pred):
    metrics = [('SMAPE', (100/len(y_pred) * np.sum(2 * np.abs(y_true - y_pred) / (np.abs(y_pred) + np.abs(y_true))))),
               ('MAE', mean_absolute_error(y_true, y_pred)),
               ('Median Absolute Error', median_absolute_error(y_true, y_pred)),
               ('Mean Squared Error', mean_squared_error(y_true, y_pred)),
               ('Max Error', max_error(y_true, y_pred)),
               ('R2 Score', r2_score(y_true, y_pred)),
               ('Explained Variance Score', explained_variance_score(y_true, y_pred))]

    # Init scoring metrics
    regression_report_df = pd.DataFrame(columns=['Metric Name', 'Score'])
    dfs = []
    for name, score in metrics:
        df = pd.DataFrame([[name, score]], columns=['Metric Name', 'Score'])
        dfs.append(df)
    regression_report_df = pd.concat(dfs, ignore_index=True)
              
    return regression_report_df

## Catboost

In [18]:
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error as mse

model = CatBoostRegressor(max_depth=10, loss_function='RMSE', n_estimators = 200, eta = 0.3, random_seed=1)
model.fit(train.values, sales_train.values, verbose=True, early_stopping_rounds = 20, eval_set=(val.values, sales_val.values))

C:\Users\nct\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

0:	learn: 25.5508294	test: 22.0294744	best: 22.0294744 (0)	total: 298ms	remaining: 59.2s
1:	learn: 23.5569327	test: 20.0034748	best: 20.0034748 (1)	total: 403ms	remaining: 39.9s
2:	learn: 21.9270142	test: 18.7698309	best: 18.7698309 (2)	total: 507ms	remaining: 33.3s
3:	learn: 20.8556084	test: 17.8652701	best: 17.8652701 (3)	total: 628ms	remaining: 30.8s
4:	learn: 19.8948580	test: 17.1182411	best: 17.1182411 (4)	total: 760ms	remaining: 29.6s
5:	learn: 18.9128838	test: 16.1631390	best: 16.1631390 (5)	total: 920ms	remaining: 29.7s
6:	learn: 18.1926212	test: 15.4094859	best: 15.4094859 (6)	total: 1.17s	remaining: 32.2s
7:	learn: 17.6572749	test: 14.9678126	best: 14.9678126 (7)	total: 1.33s	remaining: 31.9s
8:	learn: 16.4071182	test: 13.7564503	best: 13.7564503 (8)	total: 1.48s	remaining: 31.4s
9:	learn: 15.3101600	test: 12.6974150	best: 12.6974150 (9)	total: 1.61s	remaining: 30.5s
10:	learn: 14.5357008	test: 11.9557628	best: 11.9557628 (10)	total: 1.73s	remaining: 29.7s
11:	learn: 14.0640542	test: 11.4494657	best: 11.4494657 (11)	total: 1.85s	remaining: 29s
12:	learn: 13.6168678	test: 11.1725844	best: 11.1725844 (12)	total: 1.98s	remaining: 28.4s
13:	learn: 13.2161938	test: 10.7483398	best: 10.7483398 (13)	total: 2.1s	remaining: 28s
14:	learn: 12.8978179	test: 10.4263809	best: 10.4263809 (14)	total: 2.23s	remaining: 27.5s
15:	learn: 12.4490891	test: 9.9908123	best: 9.9908123 (15)	total: 2.36s	remaining: 27.1s
16:	learn: 12.2544547	test: 9.8095755	best: 9.8095755 (16)	total: 2.5s	remaining: 26.9s
17:	learn: 12.0163442	test: 9.6696275	best: 9.6696275 (17)	total: 2.78s	remaining: 28.1s
18:	learn: 11.6899645	test: 9.3994931	best: 9.3994931 (18)	total: 2.92s	remaining: 27.8s
19:	learn: 11.5065383	test: 9.3192498	best: 9.3192498 (19)	total: 3.08s	remaining: 27.8s
20:	learn: 10.9744570	test: 9.1046895	best: 9.1046895 (20)	total: 3.47s	remaining: 29.6s
21:	learn: 10.8559107	test: 9.0480802	best: 9.0480802 (21)	total: 3.7s	remaining: 29.9s
22:	learn: 10.5493797	test: 8.7601522	best: 8.7601522 (22)	total: 3.87s	remaining: 29.8s
23:	learn: 10.4209019	test: 8.6295370	best: 8.6295370 (23)	total: 4.03s	remaining: 29.6s
24:	learn: 10.1635878	test: 8.4140861	best: 8.4140861 (24)	total: 4.17s	remaining: 29.2s
25:	learn: 10.0200540	test: 8.3118129	best: 8.3118129 (25)	total: 4.3s	remaining: 28.8s
26:	learn: 9.9474236	test: 8.2983466	best: 8.2983466 (26)	total: 4.44s	remaining: 28.5s
27:	learn: 9.8002590	test: 8.2002396	best: 8.2002396 (27)	total: 4.57s	remaining: 28s
28:	learn: 9.6654485	test: 8.1117757	best: 8.1117757 (28)	total: 4.69s	remaining: 27.7s
29:	learn: 9.5248449	test: 8.0321100	best: 8.0321100 (29)	total: 4.84s	remaining: 27.4s
30:	learn: 9.4644241	test: 7.9920350	best: 7.9920350 (30)	total: 4.98s	remaining: 27.2s
31:	learn: 9.3550574	test: 7.9174102	best: 7.9174102 (31)	total: 5.13s	remaining: 26.9s
32:	learn: 9.3188837	test: 7.9135014	best: 7.9135014 (32)	total: 5.28s	remaining: 26.7s
33:	learn: 9.1817931	test: 7.8803309	best: 7.8803309 (33)	total: 5.41s	remaining: 26.4s
34:	learn: 9.1170941	test: 7.8584675	best: 7.8584675 (34)	total: 5.56s	remaining: 26.2s
35:	learn: 9.0678239	test: 7.8548602	best: 7.8548602 (35)	total: 5.73s	remaining: 26.1s
36:	learn: 8.9241683	test: 7.7364034	best: 7.7364034 (36)	total: 5.89s	remaining: 25.9s
37:	learn: 8.8772856	test: 7.7081629	best: 7.7081629 (37)	total: 6.03s	remaining: 25.7s
38:	learn: 8.8467169	test: 7.6842887	best: 7.6842887 (38)	total: 6.16s	remaining: 25.4s
39:	learn: 8.7777544	test: 7.6538386	best: 7.6538386 (39)	total: 6.32s	remaining: 25.3s
40:	learn: 8.7113652	test: 7.6431474	best: 7.6431474 (40)	total: 6.5s	remaining: 25.2s
41:	learn: 8.6483795	test: 7.6029331	best: 7.6029331 (41)	total: 6.64s	remaining: 25s
42:	learn: 8.5785422	test: 7.5557758	best: 7.5557758 (42)	total: 6.78s	remaining: 24.7s
43:	learn: 8.5509103	test: 7.5444313	best: 7.5444313 (43)	total: 6.9s	remaining: 24.5s
44:	learn: 8.4797247	test: 7.5007067	best: 7.5007067 (44)	total: 7.03s	remaining: 24.2s
45:	learn: 8.4506532	test: 7.4915491	best: 7.4915491 (45)	total: 7.16s	remaining: 24s
46:	learn: 8.4243268	test: 7.4888400	best: 7.4888400 (46)	total: 7.3s	remaining: 23.8s
47:	learn: 8.3925038	test: 7.4683962	best: 7.4683962 (47)	total: 7.45s	remaining: 23.6s
48:	learn: 8.3282166	test: 7.4175208	best: 7.4175208 (48)	total: 7.59s	remaining: 23.4s
49:	learn: 8.2974059	test: 7.4005656	best: 7.4005656 (49)	total: 7.72s	remaining: 23.2s
50:	learn: 8.2637827	test: 7.3928305	best: 7.3928305 (50)	total: 7.86s	remaining: 23s
51:	learn: 8.2088182	test: 7.3865471	best: 7.3865471 (51)	total: 7.98s	remaining: 22.7s
52:	learn: 8.1937881	test: 7.3771522	best: 7.3771522 (52)	total: 8.11s	remaining: 22.5s
53:	learn: 8.1819552	test: 7.3661563	best: 7.3661563 (53)	total: 8.25s	remaining: 22.3s
54:	learn: 8.1679219	test: 7.3605454	best: 7.3605454 (54)	total: 8.38s	remaining: 22.1s
55:	learn: 8.1338431	test: 7.3477119	best: 7.3477119 (55)	total: 8.5s	remaining: 21.9s
56:	learn: 8.1113866	test: 7.3446069	best: 7.3446069 (56)	total: 8.62s	remaining: 21.6s
57:	learn: 8.0897406	test: 7.3333088	best: 7.3333088 (57)	total: 8.74s	remaining: 21.4s
58:	learn: 8.0815492	test: 7.3248699	best: 7.3248699 (58)	total: 8.87s	remaining: 21.2s
59:	learn: 8.0339029	test: 7.2774834	best: 7.2774834 (59)	total: 9.01s	remaining: 21s
60:	learn: 7.9935234	test: 7.2417680	best: 7.2417680 (60)	total: 9.16s	remaining: 20.9s
61:	learn: 7.9737949	test: 7.2320961	best: 7.2320961 (61)	total: 9.3s	remaining: 20.7s
62:	learn: 7.9569319	test: 7.2217012	best: 7.2217012 (62)	total: 9.43s	remaining: 20.5s
63:	learn: 7.9379327	test: 7.2026295	best: 7.2026295 (63)	total: 9.56s	remaining: 20.3s
64:	learn: 7.9290882	test: 7.2004111	best: 7.2004111 (64)	total: 9.69s	remaining: 20.1s
65:	learn: 7.9159771	test: 7.1926422	best: 7.1926422 (65)	total: 9.9s	remaining: 20.1s
66:	learn: 7.8958991	test: 7.1836206	best: 7.1836206 (66)	total: 10.1s	remaining: 20s
67:	learn: 7.8670086	test: 7.1676824	best: 7.1676824 (67)	total: 10.2s	remaining: 19.8s
68:	learn: 7.8381629	test: 7.1636592	best: 7.1636592 (68)	total: 10.3s	remaining: 19.6s
69:	learn: 7.8315783	test: 7.1549797	best: 7.1549797 (69)	total: 10.5s	remaining: 19.4s
70:	learn: 7.8101501	test: 7.1417215	best: 7.1417215 (70)	total: 10.6s	remaining: 19.2s
71:	learn: 7.8002918	test: 7.1339707	best: 7.1339707 (71)	total: 10.7s	remaining: 19s
72:	learn: 7.7897662	test: 7.1252362	best: 7.1252362 (72)	total: 10.9s	remaining: 19s
73:	learn: 7.7826142	test: 7.1222543	best: 7.1222543 (73)	total: 11.1s	remaining: 18.9s
74:	learn: 7.7626136	test: 7.1080617	best: 7.1080617 (74)	total: 11.3s	remaining: 18.8s
75:	learn: 7.7544941	test: 7.1093722	best: 7.1080617 (74)	total: 11.4s	remaining: 18.6s
76:	learn: 7.7265580	test: 7.0815701	best: 7.0815701 (76)	total: 11.7s	remaining: 18.6s
77:	learn: 7.7112015	test: 7.0702749	best: 7.0702749 (77)	total: 11.8s	remaining: 18.5s
78:	learn: 7.6914760	test: 7.0653659	best: 7.0653659 (78)	total: 12s	remaining: 18.4s
79:	learn: 7.6799401	test: 7.0582906	best: 7.0582906 (79)	total: 12.1s	remaining: 18.1s
80:	learn: 7.6643100	test: 7.0476774	best: 7.0476774 (80)	total: 12.2s	remaining: 17.9s
81:	learn: 7.6523086	test: 7.0423405	best: 7.0423405 (81)	total: 12.3s	remaining: 17.7s
82:	learn: 7.6492557	test: 7.0428711	best: 7.0423405 (81)	total: 12.4s	remaining: 17.5s
83:	learn: 7.6415962	test: 7.0393400	best: 7.0393400 (83)	total: 12.5s	remaining: 17.3s
84:	learn: 7.6365218	test: 7.0367511	best: 7.0367511 (84)	total: 12.6s	remaining: 17.1s
85:	learn: 7.6326805	test: 7.0376521	best: 7.0367511 (84)	total: 12.7s	remaining: 16.9s
86:	learn: 7.6211975	test: 7.0303281	best: 7.0303281 (86)	total: 12.8s	remaining: 16.7s
87:	learn: 7.6158817	test: 7.0303470	best: 7.0303281 (86)	total: 13s	remaining: 16.5s
88:	learn: 7.5959648	test: 7.0203054	best: 7.0203054 (88)	total: 13.1s	remaining: 16.4s
89:	learn: 7.5867404	test: 7.0155954	best: 7.0155954 (89)	total: 13.3s	remaining: 16.2s
90:	learn: 7.5715536	test: 6.9994254	best: 6.9994254 (90)	total: 13.4s	remaining: 16s
91:	learn: 7.5642180	test: 6.9924901	best: 6.9924901 (91)	total: 13.5s	remaining: 15.9s
92:	learn: 7.5538039	test: 6.9908173	best: 6.9908173 (92)	total: 13.6s	remaining: 15.7s
93:	learn: 7.5431854	test: 6.9827922	best: 6.9827922 (93)	total: 13.8s	remaining: 15.6s
94:	learn: 7.5366146	test: 6.9770941	best: 6.9770941 (94)	total: 13.9s	remaining: 15.4s

95:	learn: 7.5336343	test: 6.9769120	best: 6.9769120 (95)	total: 14.1s	remaining: 15.3s
96:	learn: 7.5277992	test: 6.9762160	best: 6.9762160 (96)	total: 14.2s	remaining: 15.1s
97:	learn: 7.5234872	test: 6.9710952	best: 6.9710952 (97)	total: 14.3s	remaining: 14.9s
98:	learn: 7.5167481	test: 6.9675198	best: 6.9675198 (98)	total: 14.5s	remaining: 14.8s
99:	learn: 7.5085112	test: 6.9646289	best: 6.9646289 (99)	total: 14.7s	remaining: 14.7s
100:	learn: 7.5027549	test: 6.9665325	best: 6.9646289 (99)	total: 14.8s	remaining: 14.5s
101:	learn: 7.4978205	test: 6.9649231	best: 6.9646289 (99)	total: 15s	remaining: 14.4s
102:	learn: 7.4922063	test: 6.9614589	best: 6.9614589 (102)	total: 15.1s	remaining: 14.2s
103:	learn: 7.4882166	test: 6.9617693	best: 6.9614589 (102)	total: 15.2s	remaining: 14.1s
104:	learn: 7.4828752	test: 6.9605668	best: 6.9605668 (104)	total: 15.4s	remaining: 13.9s
105:	learn: 7.4776112	test: 6.9595626	best: 6.9595626 (105)	total: 15.6s	remaining: 13.8s
106:	learn: 7.4673875	test: 6.9521739	best: 6.9521739 (106)	total: 15.7s	remaining: 13.7s
107:	learn: 7.4638186	test: 6.9520605	best: 6.9520605 (107)	total: 15.9s	remaining: 13.5s
108:	learn: 7.4610384	test: 6.9538643	best: 6.9520605 (107)	total: 16s	remaining: 13.3s
109:	learn: 7.4597620	test: 6.9517860	best: 6.9517860 (109)	total: 16.1s	remaining: 13.2s
110:	learn: 7.4562742	test: 6.9542549	best: 6.9517860 (109)	total: 16.2s	remaining: 13s
111:	learn: 7.4529345	test: 6.9528759	best: 6.9517860 (109)	total: 16.3s	remaining: 12.8s
112:	learn: 7.4497736	test: 6.9483301	best: 6.9483301 (112)	total: 16.4s	remaining: 12.7s
113:	learn: 7.4481902	test: 6.9468021	best: 6.9468021 (113)	total: 16.6s	remaining: 12.5s
114:	learn: 7.4456964	test: 6.9439647	best: 6.9439647 (114)	total: 16.7s	remaining: 12.3s
115:	learn: 7.4431500	test: 6.9469745	best: 6.9439647 (114)	total: 16.8s	remaining: 12.2s
116:	learn: 7.4407215	test: 6.9437930	best: 6.9437930 (116)	total: 16.9s	remaining: 12s
117:	learn: 7.4376524	test: 6.9421999	best: 6.9421999 (117)	total: 17s	remaining: 11.8s
118:	learn: 7.4335381	test: 6.9409746	best: 6.9409746 (118)	total: 17.2s	remaining: 11.7s
119:	learn: 7.4300306	test: 6.9382202	best: 6.9382202 (119)	total: 17.3s	remaining: 11.5s
120:	learn: 7.4279912	test: 6.9400135	best: 6.9382202 (119)	total: 17.5s	remaining: 11.4s
121:	learn: 7.4188715	test: 6.9362328	best: 6.9362328 (121)	total: 17.6s	remaining: 11.3s
122:	learn: 7.4147522	test: 6.9334816	best: 6.9334816 (122)	total: 17.8s	remaining: 11.1s
123:	learn: 7.4124504	test: 6.9321083	best: 6.9321083 (123)	total: 17.9s	remaining: 11s
124:	learn: 7.4080378	test: 6.9299307	best: 6.9299307 (124)	total: 18.1s	remaining: 10.8s
125:	learn: 7.4043375	test: 6.9279036	best: 6.9279036 (125)	total: 18.2s	remaining: 10.7s
126:	learn: 7.4000368	test: 6.9267205	best: 6.9267205 (126)	total: 18.3s	remaining: 10.5s
127:	learn: 7.3953993	test: 6.9257923	best: 6.9257923 (127)	total: 18.4s	remaining: 10.4s
128:	learn: 7.3926663	test: 6.9263944	best: 6.9257923 (127)	total: 18.6s	remaining: 10.2s
129:	learn: 7.3911252	test: 6.9249207	best: 6.9249207 (129)	total: 18.7s	remaining: 10.1s
130:	learn: 7.3860399	test: 6.9229111	best: 6.9229111 (130)	total: 18.8s	remaining: 9.92s
131:	learn: 7.3843445	test: 6.9198544	best: 6.9198544 (131)	total: 19s	remaining: 9.76s
132:	learn: 7.3824991	test: 6.9197299	best: 6.9197299 (132)	total: 19.1s	remaining: 9.61s
133:	learn: 7.3787456	test: 6.9171390	best: 6.9171390 (133)	total: 19.2s	remaining: 9.46s
134:	learn: 7.3775477	test: 6.9157494	best: 6.9157494 (134)	total: 19.3s	remaining: 9.31s
135:	learn: 7.3755385	test: 6.9142066	best: 6.9142066 (135)	total: 19.5s	remaining: 9.19s
136:	learn: 7.3736176	test: 6.9126402	best: 6.9126402 (136)	total: 19.7s	remaining: 9.06s
137:	learn: 7.3707892	test: 6.9088413	best: 6.9088413 (137)	total: 19.8s	remaining: 8.91s
138:	learn: 7.3688731	test: 6.9074628	best: 6.9074628 (138)	total: 20s	remaining: 8.76s
139:	learn: 7.3675562	test: 6.9050876	best: 6.9050876 (139)	total: 20.1s	remaining: 8.61s
140:	learn: 7.3658182	test: 6.9026358	best: 6.9026358 (140)	total: 20.2s	remaining: 8.46s
141:	learn: 7.3626257	test: 6.9007466	best: 6.9007466 (141)	total: 20.4s	remaining: 8.31s
142:	learn: 7.3585449	test: 6.8979407	best: 6.8979407 (142)	total: 20.6s	remaining: 8.21s
143:	learn: 7.3552611	test: 6.8945361	best: 6.8945361 (143)	total: 20.8s	remaining: 8.07s
144:	learn: 7.3535300	test: 6.8933503	best: 6.8933503 (144)	total: 21s	remaining: 7.98s
145:	learn: 7.3518464	test: 6.8924475	best: 6.8924475 (145)	total: 21.2s	remaining: 7.85s
146:	learn: 7.3507053	test: 6.8918208	best: 6.8918208 (146)	total: 21.4s	remaining: 7.71s
147:	learn: 7.3498334	test: 6.8921716	best: 6.8918208 (146)	total: 21.6s	remaining: 7.57s
148:	learn: 7.3479482	test: 6.8922188	best: 6.8918208 (146)	total: 21.8s	remaining: 7.45s
149:	learn: 7.3455904	test: 6.8909640	best: 6.8909640 (149)	total: 22s	remaining: 7.32s
150:	learn: 7.3439913	test: 6.8902388	best: 6.8902388 (150)	total: 22.1s	remaining: 7.18s
151:	learn: 7.3419416	test: 6.8909180	best: 6.8902388 (150)	total: 22.3s	remaining: 7.04s
152:	learn: 7.3409557	test: 6.8905716	best: 6.8902388 (150)	total: 22.5s	remaining: 6.9s
153:	learn: 7.3401205	test: 6.8908107	best: 6.8902388 (150)	total: 22.6s	remaining: 6.75s
154:	learn: 7.3388737	test: 6.8889165	best: 6.8889165 (154)	total: 22.8s	remaining: 6.61s
155:	learn: 7.3371452	test: 6.8889606	best: 6.8889165 (154)	total: 22.9s	remaining: 6.46s
156:	learn: 7.3353811	test: 6.8879113	best: 6.8879113 (156)	total: 23s	remaining: 6.31s
157:	learn: 7.3340737	test: 6.8875220	best: 6.8875220 (157)	total: 23.2s	remaining: 6.16s
158:	learn: 7.3331594	test: 6.8859910	best: 6.8859910 (158)	total: 23.3s	remaining: 6.01s
159:	learn: 7.3317237	test: 6.8852695	best: 6.8852695 (159)	total: 23.4s	remaining: 5.86s
160:	learn: 7.3304132	test: 6.8847913	best: 6.8847913 (160)	total: 23.6s	remaining: 5.71s
161:	learn: 7.3296057	test: 6.8848171	best: 6.8847913 (160)	total: 23.7s	remaining: 5.56s
162:	learn: 7.3288834	test: 6.8846620	best: 6.8846620 (162)	total: 23.9s	remaining: 5.41s
163:	learn: 7.3282652	test: 6.8845236	best: 6.8845236 (163)	total: 24s	remaining: 5.28s
164:	learn: 7.3270501	test: 6.8838135	best: 6.8838135 (164)	total: 24.2s	remaining: 5.14s
165:	learn: 7.3252080	test: 6.8821220	best: 6.8821220 (165)	total: 24.4s	remaining: 5s
166:	learn: 7.3243773	test: 6.8831961	best: 6.8821220 (165)	total: 24.6s	remaining: 4.86s
167:	learn: 7.3218255	test: 6.8823337	best: 6.8821220 (165)	total: 24.7s	remaining: 4.71s
168:	learn: 7.3206783	test: 6.8804522	best: 6.8804522 (168)	total: 24.9s	remaining: 4.56s
169:	learn: 7.3193238	test: 6.8801343	best: 6.8801343 (169)	total: 25s	remaining: 4.41s
170:	learn: 7.3179858	test: 6.8797726	best: 6.8797726 (170)	total: 25.1s	remaining: 4.26s
171:	learn: 7.3168936	test: 6.8793837	best: 6.8793837 (171)	total: 25.3s	remaining: 4.12s
172:	learn: 7.3163920	test: 6.8789003	best: 6.8789003 (172)	total: 25.5s	remaining: 3.97s
173:	learn: 7.3154471	test: 6.8777223	best: 6.8777223 (173)	total: 25.6s	remaining: 3.83s
174:	learn: 7.3144496	test: 6.8774015	best: 6.8774015 (174)	total: 25.8s	remaining: 3.68s
175:	learn: 7.3136577	test: 6.8764112	best: 6.8764112 (175)	total: 25.9s	remaining: 3.53s
176:	learn: 7.3129338	test: 6.8767402	best: 6.8764112 (175)	total: 26.1s	remaining: 3.38s
177:	learn: 7.3121554	test: 6.8765771	best: 6.8764112 (175)	total: 26.2s	remaining: 3.24s
178:	learn: 7.3105584	test: 6.8762057	best: 6.8762057 (178)	total: 26.3s	remaining: 3.09s
179:	learn: 7.3098934	test: 6.8764605	best: 6.8762057 (178)	total: 26.5s	remaining: 2.94s
180:	learn: 7.3086895	test: 6.8768785	best: 6.8762057 (178)	total: 26.6s	remaining: 2.79s
181:	learn: 7.3072513	test: 6.8771007	best: 6.8762057 (178)	total: 26.7s	remaining: 2.64s
182:	learn: 7.3065699	test: 6.8758385	best: 6.8758385 (182)	total: 26.9s	remaining: 2.5s
183:	learn: 7.3058900	test: 6.8755687	best: 6.8755687 (183)	total: 27s	remaining: 2.35s
184:	learn: 7.3050793	test: 6.8752801	best: 6.8752801 (184)	total: 27.1s	remaining: 2.2s
185:	learn: 7.3045336	test: 6.8750646	best: 6.8750646 (185)	total: 27.3s	remaining: 2.05s
186:	learn: 7.3037525	test: 6.8755237	best: 6.8750646 (185)	total: 27.4s	remaining: 1.91s

187:	learn: 7.3031546	test: 6.8756380	best: 6.8750646 (185)	total: 27.5s	remaining: 1.76s
188:	learn: 7.3015616	test: 6.8750965	best: 6.8750646 (185)	total: 27.7s	remaining: 1.61s
189:	learn: 7.3007113	test: 6.8747082	best: 6.8747082 (189)	total: 27.8s	remaining: 1.46s
190:	learn: 7.2999543	test: 6.8744921	best: 6.8744921 (190)	total: 28s	remaining: 1.32s
191:	learn: 7.2988630	test: 6.8743118	best: 6.8743118 (191)	total: 28.1s	remaining: 1.17s
192:	learn: 7.2974087	test: 6.8738520	best: 6.8738520 (192)	total: 28.2s	remaining: 1.02s
193:	learn: 7.2967245	test: 6.8733259	best: 6.8733259 (193)	total: 28.4s	remaining: 877ms
194:	learn: 7.2957456	test: 6.8726316	best: 6.8726316 (194)	total: 28.5s	remaining: 731ms
195:	learn: 7.2953455	test: 6.8723888	best: 6.8723888 (195)	total: 28.6s	remaining: 584ms
196:	learn: 7.2946150	test: 6.8723623	best: 6.8723623 (196)	total: 28.8s	remaining: 438ms
197:	learn: 7.2936375	test: 6.8723975	best: 6.8723623 (196)	total: 28.9s	remaining: 292ms
198:	learn: 7.2927152	test: 6.8722440	best: 6.8722440 (198)	total: 29.1s	remaining: 146ms
199:	learn: 7.2921339	test: 6.8722224	best: 6.8722224 (199)	total: 29.2s	remaining: 0us

bestTest = 6.872222397
bestIteration = 199

In [19]:
y_pred = model.predict(val.values)
regression_report(sales_val.values, y_pred)

                Metric Name      Score
0                     SMAPE  13.470677
1                       MAE   5.308890
2     Median Absolute Error   4.244043
3        Mean Squared Error  47.227441
4                 Max Error  36.376568
5                  R2 Score   0.916615
6  Explained Variance Score   0.916844

In [20]:
y_pred = model.predict(test_df.values)

sample_df = pd.read_csv("sample_submission.csv")
sample_df['sales'] = y_pred
sample_df.to_csv("submission_cb.csv", index=False)
sample_df.head()

   id      sales
0   0  12.024849
1   1  13.822182
2   2  13.872539
3   3  14.491420
4   4  15.831704

## Decision Tree

In [21]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(train.values, sales_train.values)

DecisionTreeRegressor()

In [22]:
y_pred = model.predict(val.values)
regression_report(sales_val.values, y_pred)

                Metric Name      Score
0                     SMAPE  14.971560
1                       MAE   5.914089
2     Median Absolute Error   4.750000
3        Mean Squared Error  59.487114
4                 Max Error  46.250000
5                  R2 Score   0.894970
6  Explained Variance Score   0.899911

In [23]:
# predict test data
y_pred = model.predict(test_df.values)
sample_df = pd.read_csv("sample_submission.csv")
sample_df['sales'] = y_pred
sample_df.to_csv("submission_dt.csv", index=False)
sample_df.head()

   id  sales
0   0  10.25
1   1  15.00
2   2  13.00
3   3  14.75
4   4  15.40

## LightGBM

In [24]:
from lightgbm import LGBMRegressor

model = LGBMRegressor()
model.fit(train.values, sales_train.values, verbose=True, early_stopping_rounds=20, eval_set=(val.values, sales_val.values))

C:\Users\nct\anaconda3\lib\site-packages\lightgbm\sklearn.py:726: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "
C:\Users\nct\anaconda3\lib\site-packages\lightgbm\sklearn.py:736: UserWarning: 'verbose' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose' argument is deprecated and will be removed in a future release of LightGBM. "

[1]	valid_0's l2: 584.19
[2]	valid_0's l2: 561.64
[3]	valid_0's l2: 524.281
[4]	valid_0's l2: 506.43
[5]	valid_0's l2: 473.732
[6]	valid_0's l2: 450.229
[7]	valid_0's l2: 428.166
[8]	valid_0's l2: 416.79
[9]	valid_0's l2: 394.807
[10]	valid_0's l2: 374.03
[11]	valid_0's l2: 363.919
[12]	valid_0's l2: 361.482
[13]	valid_0's l2: 342.619
[14]	valid_0's l2: 330.144
[15]	valid_0's l2: 300.307
[16]	valid_0's l2: 297.294
[17]	valid_0's l2: 268.072
[18]	valid_0's l2: 257.175
[19]	valid_0's l2: 254.052
[20]	valid_0's l2: 247.8
[21]	valid_0's l2: 225.654
[22]	valid_0's l2: 227.765
[23]	valid_0's l2: 223.403
[24]	valid_0's l2: 217.933
[25]	valid_0's l2: 214.066
[26]	valid_0's l2: 204.363
[27]	valid_0's l2: 202.691
[28]	valid_0's l2: 198.104
[29]	valid_0's l2: 199.247
[30]	valid_0's l2: 196.216
[31]	valid_0's l2: 181.023
[32]	valid_0's l2: 176.559
[33]	valid_0's l2: 174.482
[34]	valid_0's l2: 163.458
[35]	valid_0's l2: 158.113
[36]	valid_0's l2: 154.468
[37]	valid_0's l2: 144.422
[38]	valid_0's l2: 144.924
[39]	valid_0's l2: 143.467
[40]	valid_0's l2: 140.108
[41]	valid_0's l2: 139.117
[42]	valid_0's l2: 130.897
[43]	valid_0's l2: 129.581
[44]	valid_0's l2: 127.974
[45]	valid_0's l2: 120.787
[46]	valid_0's l2: 116.224
[47]	valid_0's l2: 115.711
[48]	valid_0's l2: 112.451
[49]	valid_0's l2: 112.039
[50]	valid_0's l2: 111.263
[51]	valid_0's l2: 106.249
[52]	valid_0's l2: 104.814
[53]	valid_0's l2: 103.429
[54]	valid_0's l2: 103.06
[55]	valid_0's l2: 97.9926
[56]	valid_0's l2: 96.014
[57]	valid_0's l2: 95.4894
[58]	valid_0's l2: 93.9862
[59]	valid_0's l2: 90.074
[60]	valid_0's l2: 89.6014
[61]	valid_0's l2: 87.7645
[62]	valid_0's l2: 86.8326
[63]	valid_0's l2: 86.0433
[64]	valid_0's l2: 85.0315
[65]	valid_0's l2: 84.6852
[66]	valid_0's l2: 83.9735
[67]	valid_0's l2: 82.0608
[68]	valid_0's l2: 81.6475
[69]	valid_0's l2: 80.763
[70]	valid_0's l2: 79.3188
[71]	valid_0's l2: 79.1634
[72]	valid_0's l2: 77.9345
[73]	valid_0's l2: 77.4952
[74]	valid_0's l2: 76.5265
[75]	valid_0's l2: 75.1901
[76]	valid_0's l2: 73.3123
[77]	valid_0's l2: 73.197
[78]	valid_0's l2: 73.3143
[79]	valid_0's l2: 71.8758
[80]	valid_0's l2: 71.4325
[81]	valid_0's l2: 70.6452
[82]	valid_0's l2: 70.2432
[83]	valid_0's l2: 70.0764
[84]	valid_0's l2: 69.5766
[85]	valid_0's l2: 68.9956
[86]	valid_0's l2: 68.6566
[87]	valid_0's l2: 68.2519
[88]	valid_0's l2: 68.2257
[89]	valid_0's l2: 67.9879
[90]	valid_0's l2: 67.5761
[91]	valid_0's l2: 67.5589
[92]	valid_0's l2: 66.4608
[93]	valid_0's l2: 65.7055
[94]	valid_0's l2: 65.0031
[95]	valid_0's l2: 64.8737
[96]	valid_0's l2: 64.6415
[97]	valid_0's l2: 63.944
[98]	valid_0's l2: 63.7408
[99]	valid_0's l2: 63.5049
[100]	valid_0's l2: 63.3843

LGBMRegressor()

In [25]:
y_pred = model.predict(val.values)
regression_report(sales_val.values, y_pred)

                Metric Name      Score
0                     SMAPE  16.073213
1                       MAE   6.260856
2     Median Absolute Error   5.224466
3        Mean Squared Error  63.384272
4                 Max Error  49.278440
5                  R2 Score   0.888089
6  Explained Variance Score   0.892342

In [26]:
# predict test data
y_pred = model.predict(test_df.values)
sample_df = pd.read_csv("sample_submission.csv")
sample_df['sales'] = y_pred
sample_df.to_csv("submission_lgbm.csv", index=False)
sample_df.head()

   id      sales
0   0  16.561062
1   1  17.444016
2   2  17.444016
3   3  18.268907
4   4  17.977213

## Linear Regression

In [27]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(train.values, sales_train.values)

LinearRegression()

In [28]:
y_pred = model.predict(val.values)
regression_report(sales_val.values, y_pred)

                Metric Name       Score
0                     SMAPE   48.924073
1                       MAE   22.670578
2     Median Absolute Error   21.663495
3        Mean Squared Error  717.115720
4                 Max Error   90.322757
5                  R2 Score   -0.266139
6  Explained Variance Score    0.066234

In [29]:
# predict test data
y_pred = model.predict(test_df.values)
sample_df = pd.read_csv("sample_submission.csv")
sample_df['sales'] = y_pred
sample_df.to_csv("submission_lr.csv", index=False)
sample_df.head()

   id      sales
0   0  57.005051
1   1  60.219296
2   2  63.433540
3   3  66.647785
4   4  69.862029

## Random Forest

In [30]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=200, n_jobs=-1)
model.fit(train.values, sales_train.values)

RandomForestRegressor(n_estimators=200, n_jobs=-1)

In [31]:
y_pred = model.predict(val.values)
regression_report(sales_val.values, y_pred)

                Metric Name      Score
0                     SMAPE  14.939864
1                       MAE   5.903299
2     Median Absolute Error   4.701825
3        Mean Squared Error  59.287404
4                 Max Error  45.934653
5                  R2 Score   0.895322
6  Explained Variance Score   0.900283

In [32]:
# predict test data
y_pred = model.predict(test_df.values)
sample_df = pd.read_csv("sample_submission.csv")
sample_df['sales'] = y_pred
sample_df.to_csv("submission_rf.csv", index=False)
sample_df.head()

   id      sales
0   0  10.285578
1   1  14.938321
2   2  12.882200
3   3  14.679198
4   4  15.437772

## XGBoost

In [33]:
import xgboost
model = xgboost.XGBRegressor(n_estimators = 200, seed = 21)
model.fit(train.values, sales_train.values, verbose=True)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=200, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=21,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=21,
             subsample=1, tree_method='exact', validate_parameters=1,
             verbosity=None)

In [34]:
y_pred = model.predict(val.values)
regression_report(sales_val.values, y_pred)

                Metric Name      Score
0                     SMAPE  14.064043
1                       MAE   5.522580
2     Median Absolute Error   4.433034
3        Mean Squared Error  50.913739
4                 Max Error  38.642258
5                  R2 Score   0.910107
6  Explained Variance Score   0.910661

In [35]:
# predict test data
y_pred = model.predict(test_df.values)
sample_df = pd.read_csv("sample_submission.csv")
sample_df['sales'] = y_pred
sample_df.to_csv("submission_xgb.csv", index=False)
sample_df.head()

   id      sales
0   0  14.757501
1   1  16.119011
2   2  16.984201
3   3  13.956003
4   4  15.874704

## MLP (Neural Network)

In [36]:
from sklearn.neural_network import MLPRegressor
model = MLPRegressor(hidden_layer_sizes=(32,32,32), activation="relu", random_state=1, max_iter=20).fit(train.values, sales_train.values)

C:\Users\nct\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (20) reached and the optimization hasn't converged yet.
  warnings.warn(

In [37]:
y_pred = model.predict(val.values)
regression_report(sales_val.values, y_pred)

                Metric Name       Score
0                     SMAPE   37.410320
1                       MAE   15.518736
2     Median Absolute Error   12.422675
3        Mean Squared Error  406.063925
4                 Max Error  102.058914
5                  R2 Score    0.283054
6  Explained Variance Score    0.323098

In [38]:
# predict test data
y_pred = model.predict(test_df.values)
sample_df = pd.read_csv("sample_submission.csv")
sample_df['sales'] = y_pred
sample_df.to_csv("submission_mlp.csv", index=False)
sample_df.head()

   id      sales
0   0   4.529868
1   1   5.776620
2   2   7.023372
3   3   8.831623
4   4  10.765563

# Prophet

In [39]:
# !pip install fbprophet
from fbprophet import Prophet
from fbprophet.plot import plot_plotly, plot_components_plotly, plot_cross_validation_metric
from fbprophet.diagnostics import performance_metrics, cross_validation

ModuleNotFoundError: No module named 'fbprophet'

In [ ]:
print(len(val.index.unique()))

In [ ]:
import pandas as pd
import numpy as np

train_df = pd.read_csv("https://drive.google.com/uc?id=1h-vNpZ0RJnsuLxCTs0qc80jwGNrGeX49")

train = train_df.loc[(train_df["date"] < "2017-01-01"), :] # everything else before that
train['date'] = pd.to_datetime(train['date'])
test = train_df.loc[(train_df["date"] >= "2017-01-01") & (train_df["date"] < "2017-04-01"), :] # First 3 months of 2017
test['date'] = pd.to_datetime(test['date'])

results = test.reset_index()
results['sales'] = 0 # init sales col

stores = train['store'].unique()
items = train['item'].unique()
period = len(test.index.unique()

# run the model through each of the 10 stores and 50 items
for s in stores:
    for i in items:        
        training_df = train.loc[(train['store'] == s) & (train['item'] == i)].reset_index()
        training_df.rename(columns={'date': 'ds', 'sales': 'y'}, inplace=True)
        
        model = Prophet()
        model.fit(training_df[['ds', 'y']])
        
        future = model.make_future_dataframe(periods=period, include_history=False)
        forecast = model.predict(future)
        
        results.loc[(results['store'] == s) & (results['item'] == i),'sales'] = forecast['yhat']

In [ ]:
y_pred = forecast['yhat']
y_pred

In [ ]:
val = train_df.loc[(train_df["date"] >= "2017-01-01") & (train_df["date"] < "2017-04-01"), :] # First 3 months of 2017
val = val.reset_index()
val.sales

In [ ]:
regression_report(val.sales, y_pred)

## Improving Prophet: With Prophet built in holidays

In [ ]:
train = pd.read_csv("https://drive.google.com/uc?id=1h-vNpZ0RJnsuLxCTs0qc80jwGNrGeX49", parse_dates=['date'], index_col=['date'])
test = pd.read_csv("https://drive.google.com/uc?id=1i01pfTSwINi_SBEZhZCG_oZ8C2s6zqWa", parse_dates=['date'], index_col=['date'])

results = test.reset_index()
results['sales'] = 0

stores = train_df['store'].unique()
items = train_df['item'].unique()
period = len(test.index.unique()

# run the model through each of the 10 stores and 50 items
for s in stores:
    for i in items:        
        training_df = train.loc[(train['store'] == s) & (train['item'] == i)].reset_index()
        training_df.rename(columns={'date': 'ds', 'sales': 'y'}, inplace=True)
        
        training_df['y'] = np.log1p(training_df['y'])
        
        model = Prophet(daily_seasonality=False, weekly_seasonality=True, yearly_seasonality=True, seasonality_mode='additive')
        model.add_seasonality(name='monthly', period=30.5, fourier_order=5)
        model.add_country_holidays(country_name='US')
        model.fit(training_df[['ds', 'y']])
        
        future = model.make_future_dataframe(periods=period, include_history=False)
        forecast = model.predict(future)
        
        results.loc[(results['store'] == s) & (results['item'] == i),'sales'] = np.expm1(forecast['yhat']).values

In [ ]:
forecastplot = model.plot(forecast)

In [ ]:
fig = model.plot_components(forecast)

In [ ]:
results.drop(['date', 'store', 'item'], axis=1, inplace=True)
results.to_csv('/content/Prophet_2.csv', index=False)

In [ ]:
results

In [ ]:
test_results = results
test_results['sales'] = np.round(test_results['sales']).astype(int) # round the result to whole number

In [ ]:
test_results

In [ ]:
# rounded off results is better than non-rounded
test_results.to_csv('/content/Prophet_3.csv', index=False)

In [ ]:
model.train_holiday_names

## Improving Prophet: With holiday dataset from Kaggle

In [ ]:
holidays = pd.read_csv("/content/holidays.csv")
holidays.head()

In [ ]:
holidays.rename(columns={"Date": "ds", "Holiday": "holiday"},inplace=True)
holidays['ds'] = pd.to_datetime(holidays['ds']) 
holidays = holidays[(holidays['ds']>df.iloc[0]['date'])&(holidays['ds']<df.iloc[-1]['date'])]

results = test.reset_index()
results['sales'] = 0

period = len(test.index.unique()

In [ ]:
for s in stores:
    for i in items:        
        training_df = train.loc[(train['store'] == s) & (train['item'] == i)].reset_index()
        training_df.rename(columns={'date': 'ds', 'sales': 'y'}, inplace=True)
        training_df['y'] = np.log1p(training_df['y']) # log transform
        
        model = Prophet(daily_seasonality=False, weekly_seasonality=True, yearly_seasonality=True, holidays = holidays, seasonality_mode='additive')
        model.add_seasonality(name='monthly', period=30.5, fourier_order=5)
        model.fit(training_df[['ds', 'y']])
        
        future = model.make_future_dataframe(periods=period, include_history=False)
        forecast = model.predict(future)
        
        results.loc[(results['store'] == s) & (results['item'] == i),'sales'] = np.expm1(forecast['yhat']).values # undo log transform

In [ ]:
results.drop(['date', 'store', 'item'], axis=1, inplace=True)
results['sales'] = np.round(results['sales']).astype(int) # round to whole number
results.to_csv('Prophet.csv', index=False)

In [ ]:
forecastplot = model.plot(forecast)

In [ ]:
fig = model.plot_components(forecast)

In [ ]:
results

## Improving Prophet: Seasonality (fourier order 3 instead of 5)

In [ ]:
results = test.reset_index()
results['sales']
period = len(test.index.unique()

for s in stores:
    for i in items:        
        training_df = train.loc[(train['store'] == s) & (train['item'] == i)].reset_index()
        training_df.rename(columns={'date': 'ds', 'sales': 'y'}, inplace=True)
        training_df['y'] = np.log1p(training_df['y'])
        
        model = Prophet(daily_seasonality=False, weekly_seasonality=True, yearly_seasonality=True, holidays = holidays, seasonality_mode='additive')
        model.add_seasonality(name='monthly', period=30.5, fourier_order=3)
        model.fit(training_df[['ds', 'y']])
        
        future = model.make_future_dataframe(periods=period), include_history=False)
        forecast = model.predict(future)
        
        results.loc[(results['store'] == s) & (results['item'] == i),'sales'] = np.expm1(forecast['yhat']).values

In [ ]:
results.drop(['date', 'store', 'item'], axis=1, inplace=True)
results

In [ ]:
results.to_csv('/content/submission_prophet_1.csv', index=False)

In [ ]:
# rounding
results['sales'] = np.round(results['sales']).astype(int)
results.to_csv('/content/submission_prophet.csv', index=False)

In [ ]:
forecastplot = model.plot(forecast)

In [ ]:
fig = model.plot_components(forecast)

# Proposed Solution

## Retraining Best Baseline Model - Catboost


> Previously, the baseline models were trained on segmented data to evaluate the performance of each model. As Prophet was trained with the entire training dataset provided without splitting, the catboost model will be trained here in entirety.

In [ ]:
!pip install catboost

In [ ]:
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error as mse

model = CatBoostRegressor(max_depth=10, loss_function='RMSE', n_estimators = 200, eta = 0.3, random_seed=1)
model.fit(train_df.values, sales.values, verbose=True, early_stopping_rounds = 20)

In [ ]:
y_pred = model.predict(test_df.values)

In [ ]:
# init sample_submission.csv
sample_df = pd.read_csv("https://drive.google.com/uc?id=1VUhb4Jv2BbeE3jLef3vuTMhWDnf3z_JD")
sample_df['sales'] = y_pred
sample_df.head()

In [ ]:
sample_df.to_csv("submission_catboost.csv", index=False)

## Ensembling Experiments (Before Tuning)

Experiment 1 (without rounding)

In [ ]:
# both df had no rounding
import pandas as pd
df1 = pd.read_csv("/content/submission_catboost.csv")
df2 = pd.read_csv("/content/submission_prophet_1.csv")

In [ ]:
df1.head(3)

In [ ]:
df2.head(3)

In [ ]:
df3 = df1 # make a duplicate
df3['sales'] = (0.5*df1['sales']) + (0.5*df2['sales'])

In [ ]:
df3

In [ ]:
df3.to_csv('/content/submission_ens.csv', index=False)

Experiment 2 (with rounding)

In [ ]:
import numpy as np
df4 = df3
df4['sales'] = np.round(df4['sales']).astype(int) # round the result to whole number

In [ ]:
df4

In [ ]:
df4.to_csv('/content/submission_ens2.csv', index=False)

Experiment 3 (changing weightage p1)

In [ ]:
df5 = df1 # make a duplicate
df5['sales'] = (0.4*df1['sales']) + (0.6*df2['sales'])

In [ ]:
df5

Experiment 4 (changing weightage p2)

In [ ]:
df6 = df1 # make a duplicate
df6['sales'] = (0.6*df1['sales']) + (0.4*df2['sales'])

In [ ]:
df6

In [ ]:
df6.to_csv('/content/submission_ens4.csv', index=False)

In [ ]:
import numpy as np
df6_rounded = df6
df6_rounded['sales'] = np.round(df6_rounded['sales']).astype(int) # round the result to whole number

In [ ]:
df6_rounded

In [ ]:
df6_rounded.to_csv('/content/submission_ens4_rounded.csv', index=False)

## Improving Catboost

In [ ]:
!pip install catboost

Gridsearch, 3-fold cross validation

In [ ]:
from catboost import CatBoostRegressor
import numpy as np

model = CatBoostRegressor()

grid = {'learning_rate': [0.03, 0.1, 0.3],
        'max_depth': [8, 10, 12],
        'n_estimators': [100, 200, 300]}

grid_search_result = model.grid_search(grid, cv=3,
                                       X=train_df.values,
                                       y=sales.values,
                                       plot=True)

In [ ]:
grid_search_result['params']

Results based on the best parameters

In [ ]:
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error as mse

model = CatBoostRegressor(max_depth=10, loss_function='RMSE', eval_metric='SMAPE', n_estimators = 300, learning_rate = 0.3, random_seed=1)
model.fit(train_df.values, sales.values, verbose=True, early_stopping_rounds=20)

In [ ]:
y_pred = model.predict(test_df.values)

In [ ]:
# init sample_submission.csv
sample_df = pd.read_csv("https://drive.google.com/uc?id=1VUhb4Jv2BbeE3jLef3vuTMhWDnf3z_JD")
sample_df['sales'] = y_pred
sample_df.head()

In [ ]:
sample_df.to_csv("submission_catboost_2.csv", index=False)

In [ ]:
sample_df

Results based on the best parameters (different random seed)

In [ ]:
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error as mse

model = CatBoostRegressor(max_depth=10, loss_function='RMSE', eval_metric='SMAPE', n_estimators = 300, learning_rate = 0.3, random_seed=21)
model.fit(train_df.values, sales.values, verbose=True, early_stopping_rounds=20)

In [ ]:
y_pred = model.predict(test_df.values)

In [ ]:
# init sample_submission.csv
sample_df = pd.read_csv("https://drive.google.com/uc?id=1VUhb4Jv2BbeE3jLef3vuTMhWDnf3z_JD")
sample_df['sales'] = y_pred
sample_df.head()

In [ ]:
sample_df.to_csv("submission_catboost_3.csv", index=False)

In [ ]:
sample_df

## Improving Prophet

In [ ]:
# !pip install fbprophet
from fbprophet import Prophet
from fbprophet.plot import plot_plotly, plot_components_plotly, plot_cross_validation_metric
from fbprophet.diagnostics import performance_metrics, cross_validation
import numpy as np

In [ ]:
import pandas as pd
# train.csv
train_df = pd.read_csv("https://drive.google.com/uc?id=1h-vNpZ0RJnsuLxCTs0qc80jwGNrGeX49")
train_df.head()

In [ ]:
train_df.rename(columns = {'date':'ds', 'sales':'y'}, inplace = True)

Included unofficial holidays like black friday

In [ ]:
holidays = pd.read_csv("/content/unofficial_holidays.csv")
holidays.loc[385:388]

In [ ]:
holidays = pd.read_csv("/content/holidays_new.csv")
holidays.rename(columns={"Date": "ds", "Holiday": "holiday"},inplace=True)
holidays['ds'] = pd.to_datetime(holidays['ds']) 
holidays

Seasonality

In [ ]:
train = pd.read_csv("https://drive.google.com/uc?id=1h-vNpZ0RJnsuLxCTs0qc80jwGNrGeX49", parse_dates=['date'], index_col=['date'])
test = pd.read_csv("https://drive.google.com/uc?id=1i01pfTSwINi_SBEZhZCG_oZ8C2s6zqWa", parse_dates=['date'], index_col=['date'])

results = test.reset_index()
results['sales'] = 0

stores = train_df['store'].unique()
items = train_df['item'].unique()

for s in stores :
    for i in items:        
        training_df = train.loc[(train['store'] == s) & (train['item'] == i)].reset_index()
        training_df.rename(columns={'date': 'ds', 'sales': 'y'}, inplace=True)
        training_df['y'] = np.log1p(training_df['y'])
        
        model = Prophet(daily_seasonality=False, weekly_seasonality=True, yearly_seasonality=True, holidays = holidays, seasonality_mode='additive')
        model.add_seasonality(name='monthly', period=30.5, fourier_order=3)
        model.fit(training_df[['ds', 'y']])
        
        future = model.make_future_dataframe(periods=len(test.index.unique()), include_history=False)
        forecast = model.predict(future)
        
        results.loc[(results['store'] == s) & (results['item'] == i),'sales'] = np.expm1(forecast['yhat']).values

In [ ]:
results.drop(['date', 'store', 'item'], axis=1, inplace=True)
results.to_csv('/content/submission_prophet_2.csv', index=False)

In [ ]:
results

In [ ]:
results['sales'] = np.round(results['sales']).astype(int) # round the result to whole number
results.to_csv('/content/submission_prophet_2_rounded.csv', index=False)

In [ ]:
results

In [ ]:
forecastplot = model.plot(forecast)

In [ ]:
fig = model.plot_components(forecast)

## Ensembling Experiments (After Tuning)


> The improved catboost and Prophet models showed improvement to forecasting accuracy (observed in Experiment 6) - especially with a custom ratio of weighted average (60% catboost 40% prophet instead of 50-50 in Experiment 9). From ensembled learning before tuning, rounded sales figures showed better SMAPE scores, which is also applied for all experiments below. Experiment 10 showed that the ensembling of all 5 models did not produce the best result, possibly due to higher inaccuracies in forecasting for the pre-tuned models.

In [ ]:
import pandas as pd
df1_1 = pd.read_csv("/content/submission_catboost.csv")
df1_2 = pd.read_csv("/content/submission_catboost_2.csv")
df1_3 = pd.read_csv("/content/submission_catboost_3.csv")
df2_1 = pd.read_csv("/content/submission_prophet_1.csv")
df2_2 = pd.read_csv("/content/submission_prophet_2.csv")

exp_df = df1_1 # make a duplicate for experiments

Experiment 5

In [ ]:
exp_df['sales'] = (0.6*df1_1['sales']) + (0.4*df2_1['sales'])
exp_df.to_csv('/content/submission_ens5.csv', index=False)
exp_df

In [ ]:
exp_df_rounded = exp_df
exp_df_rounded['sales'] = np.round(exp_df_rounded['sales']).astype(int) # round the result to whole number
exp_df_rounded.to_csv('/content/submission_ens5_rounded.csv', index=False)
exp_df_rounded

Experiment 6 - BEST

In [ ]:
exp_df['sales'] = (0.6*df1_2['sales']) + (0.4*df2_2['sales'])
exp_df

In [ ]:
exp_df_rounded = exp_df
exp_df_rounded['sales'] = np.round(exp_df_rounded['sales']).astype(int)
exp_df.to_csv('/content/submission_ens6_rounded-2.csv', index=False)
exp_df_rounded

Experiment 7 - SECOND BEST

In [ ]:
exp_df['sales'] = (0.6*df1_2['sales']) + (0.4*df2_1['sales'])
exp_df

In [ ]:
exp_df_rounded = exp_df
exp_df_rounded['sales'] = np.round(exp_df_rounded['sales']).astype(int) # round the result to whole number
exp_df.to_csv('/content/submission_ens7_rounded_v2.csv', index=False)
exp_df_rounded

Experiment 8

In [ ]:
exp_df['sales'] = (0.6*df1_3['sales']) + (0.4*df2_1['sales'])
exp_df

In [ ]:
exp_df_rounded = exp_df
exp_df_rounded['sales'] = np.round(exp_df_rounded['sales']).astype(int) # round the result to whole number
exp_df_rounded.to_csv('/content/submission_ens8_rounded.csv', index=False)
exp_df_rounded

Experiment 9

In [ ]:
exp_df['sales'] = (0.5*df1_2['sales']) + (0.5*df2_2['sales'])
exp_df

In [ ]:
import numpy as np
exp_df_rounded = exp_df
exp_df_rounded['sales'] = np.round(exp_df_rounded['sales']).astype(int) # round the result to whole number
exp_df_rounded.to_csv('/content/submission_ens9_rounded.csv', index=False)
exp_df_rounded

Experiment 10

In [ ]:
exp_df['sales'] = (0.45*((df1_1['sales']+df1_2['sales']+df1_3['sales'])/3)) + (0.55*(((0.5*df2_1['sales'])+(0.5*df2_2['sales']))))
exp_df

In [ ]:
exp_df_rounded = exp_df
exp_df_rounded['sales'] = np.round(exp_df_rounded['sales']).astype(int) # round the result to whole number
exp_df_rounded.to_csv('/content/submission_ens10_rounded.csv', index=False)
exp_df_rounded